@{
    ViewBag.Title = "Инструкция по работе с сайтом.";
}
<h2>@ViewBag.Title</h2>
Данный сайт - это упрощенная версия системы управления проектами, в которой команда разработчиков создает себе доску со стикерами,
где каждый стикер означает задачу, назваченную конкретному разработчику. Стикер может находиться в определенном столбце, означающем
этап разработки. <br />
<strong>Шаг 1. </strong> Регистрация <br />
Для начала работы с данным сайтом необходимо завести аккаунт. Для этого, на главной странице, нажмите на ссылку "Регистрация",
после чего откроется модальное окно. Здесь потребуется ввести следующие пользовательские данные:
<ul>
    <li>E-mail;</li>
    <li>Никнейм (можно использовать название организации);</li>
    <li>Номер мобильного телефона в формате +71234567890;</li>
    <li>Выбрать тип пользователя (Customer - клиент, Developer - разработчик, TeamLeader - лидер команды);</li>
    <li>Пароль;</li>
    <li>Повтор пароля.</li>
</ul>
После чего требуется нажать на кнопку "Регистрация". <br /> <br />
<img align="middle" class="img-thumbnail" alt="Форма регистрации" src="../../img/instruction/Register.PNG"/>
<p align="center" >Рисунок 1 - Регистрация.</p> <br /><br />
Вы будете перенаправлены на страницу, которая сообщит Вам, что на вашу почту отправлено письмо для дальнейшего подтверждения регистрации.
Шаг 1.1 не является обязательным.<br /><br />
<img align="middle" class="img-thumbnail" alt="Запрос подтверждения почты" src="../../img/instruction/Register2.PNG" /> <br />
<p align="center" >Рисунок 2 - Запрос подтверждения почты.</p> <br /><br />
<strong>Шаг 1.1.</strong> Подтверждение почты. <br />
Зайдите на указанный почтовый ящик и найдите сообщение следующего содержания: <br /><br />
<img align="middle" class="img-thumbnail" alt="Содержание письма" src="../../img/instruction/Register3.PNG" /> <br />
<p align="center" >Рисунок 3 - Содержание письма.</p> <br /><br />
Пройдите по указанной ссылке, чтобы подтвердить почту. Вы будете направлены на следующую страницу: <br /><br />
<img align="middle" class="img-thumbnail" alt="Подтверждение почты" src="../../img/instruction/Register4.PNG" /> <br />
<p  align="center" >Рисунок 4 - Подтверждение почты.</p> <br /><br />
<strong>Шаг 2. Авторизация.</strong> <br />
Для авторизации следует нажать кнопку "Войти". Откроется следующее окно: <br /><br />
<img align="middle" class="img-thumbnail" alt="Окно авторизации" src="../../img/instruction/Login1.PNG" /> <br />
<p align="center" >Рисунок 5 - Окно авторизации.</p> <br /><br />
В случае успешной авторизации, вы попадете на главную страницу, и внизу страницы появится следующее сообщение: <br /><br />
<img align="middle" class="img-thumbnail" alt="Сообщение об успешном входе" src="../../img/instruction/Login2.PNG" /> <br />
<p align="center" >Рисунок 6 - Сообщение об успешном входе.</p> <br /><br />
Существует возможность включить двухфакторную аутентификацию. 
ВНИМАНИЕ: В силу того, что используется пробный аккаунт Twilio, отправка смс-сообщений возможна только на номер разработчика. <br />
<strong>Шаг 2.1.</strong> Подключение двухфакторной аутентификации.<br />
Для этого следует нажать на кнопку "Аккаунт", после чего откроется следующая страница: <br /><br />
<img align="middle" class="img-thumbnail" alt="Настройки аккаунта" src="../../img/instruction/Account.PNG" /> <br />
<p align="center" >Рисунок 7 - Настройки аккаунта.</p> <br /><br />
Здесь есть возможность сбросить пароль и включить двухфакторную аутентификацию. 
Для включения двухфакторной аутентификации необходимо нажать на соответствующую ссылку, после чего на телефон, указанный при
регистрации придет смс сообщение: <br /><br />
<img align="middle" class="img-thumbnail" alt="Код верификации" src="../../img/instruction/SecurityCode.jpg" /> <br />
<p align="center" >Рисунок 8 - Код верификации.</p> <br /><br />
Его необходимо ввести в следующее поле: <br /><br />
<img align="middle" class="img-thumbnail" alt="Окно подтверждения" src="../../img/instruction/TwoFactorAuth.PNG" /> <br />
<p align="center" >Рисунок 9 - Окно подтверждения.</p> <br /><br />
После чего можно выйти и зайти на свой аккаунт снова. Когда логин и пароль будут введены верно, произойдет переадресация на страницу,
которая содержит окно, показанное на рисунке 9, после чего следует ввести пришедший на телефон код. Если код введен правильно,
вас перенаправит на главную станицу, где будет показано сообщение Вашего успешный вход (см рис. 6).<br />
<strong>Шаг 3.</strong> Создание проекта (только Team Leader). <br />
Для конкретного заказчика лидер команды разработчиков может создать проект, который будет из себя представлять отдельную доску с задачами.
Для этого, на главной странице ему доступна ссылка "Создать проект", которая открывает модальное окно с выбором названия проекта, имени клиента
и стиля карточек на доске. Окно показано на рисунке 10. <br /><br />
<img align="middle" class="img-thumbnail" alt="Создание проекта" src="../../img/instruction/Project1.PNG" /> <br />
<p align="center" >Рисунок 10 - Создание проекта.</p> <br /><br />
После нажатия кнопки "Создать" проект будет создан. <br /><br />
<img align="middle" class="img-thumbnail" alt="Созданные проекты" src="../../img/instruction/Project2.PNG" />  <br />
<p align="center" >Рисунок 11 - Созданные проекты.</p> <br /><br />
При необходимости можно удалить проект, выбрав "Удалить проект". Удаление проекта приведет к удалению карточек, привязанных к данному проекту. <br />
<strong>Шаг 4.</strong> Выдача заданий разработчикам. <br />
Нажав на кнопку "Доска" или по ссылке проекта, можно перейти к выдаче задач программистам. Откроется пустая доска, где лидеру команды будет
доступна кнопка "Создать карточку". Нажав на неё, появится модальное окно, которое необходимо заполнить для выдачи задачи. <br /><br />
<img align="middle" class="img-thumbnail" alt="Создание карточки" src="../../img/instruction/Card1.PNG" /> <br />
<p align="center" >Рисунок 12 - Создание карточки.</p> <br /><br />
Нажав кнопку "Создать", будет создана соответствующая карточка, где будет указано задание для разработчика. <br /><br />
<img align="middle" class="img-thumbnail" alt="Доска с задачами" src="../../img/instruction/Table.PNG" /> <br />
<p align="center" >Рисунок 13 - Доска с задачами.</p> <br /><br />
Нажав на тело карточки, задачу можно изменить или удалить. Выбирая поле "Этап разработки", задачу можно перемещать по доске. <br /><br />
<img align="middle" class="img-thumbnail" alt="Редактирование карточки" src="../../img/instruction/Card2.PNG" /> <br />
<p  align="center" >Рисунок 14 - Редактирование карточки.</p> <br /><br />
<strong>Шаг 5 (опционально).</strong> Функция "Забыли пароль?". <br />
На странице входа, под полями E-Mail и Пароль, находится ссылка "Забыли пароль?". Она направит на страницу восстановления доступа к аккаунту. <br /><br />
<img align="middle" class="img-thumbnail" alt="Восстановление пароля" src="../../img/instruction/ForgotPassword.PNG" /> <br />
<p align="center" >Рисунок 15 - Восстановление пароля.</p> <br /><br />
Здесь необходимо ввести почту, на которую аккаунт был зарегистрирован. Если такой аккаунт существует, Вы будете перенаправлены на следующую страницу. <br /><br />
<img align="middle" class="img-thumbnail" alt="Подтверждение сброса пароля" src="../../img/instruction/ForgotPassword2.PNG" /> <br />
<p align="center" >Рисунок 16 - Подтверждение сброса пароля.</p> <br /><br />
После чего на почту придёт следующее письмо: <br /><br />
<img align="middle" class="img-thumbnail" alt="Письмо для сброса пароля" src="../../img/instruction/ForgotPassword3.PNG" /> <br />
<p align="center" >Рисунок 17 - Письмо для сброса пароля.</p> <br /><br />
Перейдя по ссылке, указанной в письме, Вы попадете на страницу восстановления пароля.<br /><br />
<img align="middle" class="img-thumbnail" alt="Выбор нового пароля" src="../../img/instruction/ForgotPassword4.PNG" /><br />
<p align="center" >Рисунок 18 - Выбор нового пароля.</p> <br /><br />
Выбрав пароль, вы будете перенаправлены на следующую страницу. <br /><br /><br />
<img align="middle" class="img-thumbnail" alt="Задан новый пароль" src="../../img/instruction/ForgotPassword5.PNG" /> <br />
<p align="center" >Рисунок 19 - Задан новый пароль.</p> <br /><br />
<strong>Шаг 6 (опционально).</strong> Сброс пароля. <br />
В настойках аккаунта есть кнопка "Сбросить пароль". При нажатии на неё, на почту, указанную при регистрации, будет выслана ссылка,
аналогичная ссылке в шаге 5. В остальном Шаг 6 повторяет Шаг 5.



