@{
    ViewBag.Title = "О разработчике";
}
<h2>@ViewBag.Title.</h2>

<h4>Ершов Илья</h4>
<strong>Студент группы ПИН-151.</strong>
<strong>ОмГТУ</strong><br />
VK: <a href="https://vk.com/mrbzjaqq" title="Ссылка на профиль VK">https://vk.com/mrbzjaqq</a><br />
Телефон: +79136378223 <br />
Почта: <a href="mailto:ershov.1ly4@gmail.com" title="Почта gmail">ershov.1ly4@gmail.com</a>
<address>
    ОмГТУ<br />
    Омск, просп. Мира 11<br />
</address>