@{
    ViewBag.Title = "О разработчике";
}
<h2>@ViewBag.Title.</h2>

<h4>Ершов Илья</h4>
<strong>Студент ПИН-151.</strong>
<address>
    ОмГТУ<br />
    Омск, Мира 11<br />
</address>

<address>
    <strong>Контактная информация:</strong>   <a href="mailto:ershov.1ly4@gmail.com">ershov.1ly4@gmail.com</a>
</address>