@model System.Collections.Generic.List<string>
@{
    ViewBag.Title = "Home Page";
}
<div>
    <ul class="nav">
        <li class="nav-item">
            @Html.ActionLink("Создать проект", "CreateProject", "Project", null, new {@class = "nav-link CreateProject"})
        </li>
        <li class="nav-item">
            @Html.ActionLink("Удалить проект", "RemoveProject", "Project", null, new {@class = "nav-link RemoveProject"})
        </li>
    </ul>
    <h3>Текущие проекты:</h3>
    @if(Model != null && Model.Any())
    {
    <ul class="list-group list-group-flush">
    @foreach(var p in Model)
    {
        @Html.ActionLink(p, "Table", "Table", new {project = p}, new {@class = "list-group-item"})
    }
     </ul>
    }
</div>
