@model System.Collections.Generic.List<string>
@{
    ViewBag.Title = "Home Page";
}
<div>
    @if(ViewBag.IsAuth != null)
    {
    if(ViewBag.IsAuth && ViewBag.UserType == "TeamLeader")
    {
    <ul class="nav">
        <li class="nav-item">
            @Html.ActionLink("Создать проект", "CreateProject", "Project", null, new {@class = "nav-link CreateProject"})
        </li>
        <li class="nav-item">
            @Html.ActionLink("Удалить проект", "RemoveProject", "Project", null, new {@class = "nav-link RemoveProject"})
        </li>
    </ul>
    }
    }
    @if(ViewBag.IsAuth != null)
    {
    if(ViewBag.IsAuth)
    {
    if(Model != null && Model.Any())
    {
    <h3>Текущие проекты:</h3>
    <ul class="list-group list-group-flush">
    @foreach(var p in Model)
    {
        @Html.ActionLink(p, "Table", "Table", new {project = p}, new {@class = "list-group-item"})
    }
     </ul>
    }
    else
    {
    <h4>На данный момент проектов нет. Создайте проект.</h4>
    }
    }
    else
    {
    <h3>Для просмотра проектов требуется авторизация.</h3>
    }
    }
    
</div>
