@model TableForDevelopers.Models.ForgotPasswordConfirmationModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using(@Html.BeginForm())
{
@Html.AntiForgeryToken()
<div>
    <h4>Забыли пароль?</h4>
    <h6>Введите Ваш E-Mail ниже.</h6>
    <div class="form-group">
        <label for="emailInput">E-Mail:</label>
        <!--<input type="text" id="loginInput" class="form-control" placeholder="Введите Ваш логин" />-->
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @id="emailInput", @placeholder="example123@example.com"}, })
    </div>
    <button id="AcceptResetButton" type="submit" class="btn btn-danger">Сбросить пароль</button>
</div>
}

