@model TableForDevelopers.Models.CardModel

<div class="card text-white bg-primary mb-3" style="width: 18rem;">
    <!-- <img class="card-img-top ...> -->
    <div class="card-header">
        <h5 class="card-title">@model.Header</h5>
    </div>
    <div class="card-body">
        
    </div>
</div>
